* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#flags {
    width: 100vw;
    height: 300px;
    background-color: rgb(139, 135, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.bg-color-white {
    background-color: white;
}

.bg-color-red {
    background-color: red;
}

.bg-color-green{
    background-color: green;
}

.bg-color-yellow {
    background-color: yellow;
}

.bg-color-black {
    background-color: black;
}

.bg-color-blue {
    background-color: blue;
}

.flag {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.bar-vertical{
    width: 40px;
    height: 100%;
}

.bar-horizontal{
    width: 120px;
    height: 40px;
}

#bar-red {
     width: 40px;
     height: 100%;
    
}

#bar-green {
     width: 40px;
     height: 100%;
   
}

#bar-white {
     width: 40px;
     height: 100%;
    
}
#bar-blue {
     width: 40px;
     height: 100%;
}



#bar-black-horizontal {
    width: 120px;
    height: 40px;
   
}

#bar-red-horizontal {
    width: 120px;
    height: 40px;
    
}


#bar-yellow-horizontal {
    width: 120px;
    height: 40px;
   
}

.flag-horizontal {
    display: flex;
    flex-direction: column;
}