.sans-serif{
    font-family: sans-serif;
}

#ingredientes {
   
    background-color: rgba(0, 128, 0, 0.395);
    font-family: sans-serif;
    font-size: 24px;
}

#modo-de-preparo {

    background-color: rgba(0, 76, 255, 0.469);

    h2{
        font-size: 48px;
        color:red;
        font-family: 'Times New Roman', Times, serif;
    }

    font-family: sans-serif;
}